.title {
	position: absolute;
	top: 50px;
	width: 100%;
	text-align: center;
	font-family: trebuchet ms;
	font-size: 10vh;
	color: rgb(200, 255, 200);
}

.author {
	position: absolute;
	top: 160px;
	width: 100%;
	text-align: center;
	font-family: trebuchet ms;
	font-size: 5vh;
	color: rgb(225, 221, 6);
}

.instructions {
	position: absolute;
	top: 160px;
	padding-top: 100px;
	width: 100%;
	text-align: center;
	font-family: trebuchet ms;
	font-size: 7vh;
	color: rgb(187, 255, 74);
}

.button {
	position: absolute;
	top: 500px;
	left: 25%;
	width: 50%;
	text-align: center;
	font-family: trebuchet ms;
	font-size: 4vh;
	color: #1a81cb;
}

body {
	background-color: #7ec0ee;
}