.title {
	position: absolute;
	top: 50px;
	width: 100%;
	text-align: center;
	font-family: trebuchet ms;
	font-size: 10vh;
	color: rgb(200, 255, 200);
}

.author {
	position: absolute;
	top: 160px;
	width: 100%;
	text-align: center;
	font-family: trebuchet ms;
	font-size: 5vh;
	color: rgb(225, 221, 6);
}

.command {
	position: absolute;
	top: 140px; 
	padding-top: 100px;
	width: 100%;
	text-align: center;
	font-family: trebuchet ms;
	font-size: 4vh;
	color: rgb(187, 255, 74);
}

.instructions {
	position: absolute;
	top: 160px;
	padding-top: 100px;
	width: 100%;
	text-align: center;
	font-family: trebuchet ms;
	font-size: 7vh;
	color: rgb(187, 255, 74);
}

.instructions1 {
	position: absolute;
	top: 10px;
	padding-top: 100px;
	width: 100%;
	text-align: center;
	font-family: trebuchet ms;
	font-size: 7vh;
	color: rgb(187, 255, 74);
}

.button {
	position: absolute;
	top: 500px;
	left: 25%;
	width: 50%;
	text-align: center;
	font-family: trebuchet ms;
	font-size: 4vh;
	color: #1a81cb;
}

.startButton {
	position: absolute;
	top: 650px;
	left: 25%;
	width: 50%;
	text-align: center;
	font-family: trebuchet ms;
	font-size: 4vh;
	color: #1a81cb;
}

.wisecrack {
	position: absolute;
	top: 165px;
	width: 100%;
	text-align: center;
	font-family: trebuchet ms;
	font-size: 7vh;
	color: rgb(200, 255, 200);
}

.oh {
	position: absolute;
	top: 30px;
	width: 100%;
	text-align: center;
	font-family: trebuchet ms;
	font-size: 12vh;
	color: rgb(225, 221, 6);
}

.jack {
	position: absolute;
	top: 165px;
	padding-top: 100px;
	width: 75%;
	left: 12.5%;
	text-align: center;
	font-family: trebuchet ms;
	font-size: 6vh;
	color: rgb(187, 255, 74);
}

.life {
	position: absolute;
	top: 3px;
	left: 3px;
	padding-top: 10px;
	padding-left: 20px;
	width: 50%;
	text-align: left;
	font-family: trebuchet ms;
	font-size: 3vh;
	color: rgb(255, 255, 255);
}

.button1 {
	position: absolute;
	top: 250px;
	left: 37.5%;
	width: 25%;
	text-align: center;
	font-family: trebuchet ms;
	font-size: 4vh;
	color: #1a81cb;
}

.winButton {
	position: absolute;
	top: 500px;
	left: 37.5%;
	width: 25%;
	text-align: center;
	font-family: trebuchet ms;
	font-size: 4vh;
	color: #1a81cb;
}

.button2 {
	position: absolute;
	top: 350px;
	left: 37.5%;
	width: 25%;
	text-align: center;
	font-family: trebuchet ms;
	font-size: 4vh;
	color: #1a81cb;
}

.pauseButton {
	position: absolute;
	top: 500px;
	left: 42.5%;
	width: 15%;
	text-align: center;
	font-family: trebuchet ms;
	font-size: 4vh;
	color: #1a81cb;
}

.button3 {
	position: absolute;
	top: 450px;
	left: 37.5%;
	width: 25%;
	text-align: center;
	font-family: trebuchet ms;
	font-size: 4vh;
	color: #1a81cb;
}

.congrats {
	position: absolute;
	top: 50px;
	padding-top: 100px;
	left: 25%;
	width: 50%;
	text-align: center;
	font-family: trebuchet ms;
	font-size: 12vh;
	color: rgb(187, 255, 74);
}

.titleScreen {
	background-color: #7ec0ee;
	background-image: url("Boombox.gif");

}

body {
	background-color: #00ccdf; 
	

}
