.title {
	position: absolute;
	top: 50px;
	width: 100%;
	text-align: center;
	font-family: trebuchet ms;
	font-size: 10vh;
}

.author {
	position: absolute;
	top: 160px;
	width: 100%;
	text-align: center;
	font-family: trebuchet ms;
	font-size: 5vh;
}

.instructions {
	position: absolute;
	top: 160px;
	padding-top: 100px;
	width: 100%;
	text-align: center;
	font-family: trebuchet ms;
	font-size: 7vh;
}

.button {
	position: absolute;
	top: 500px;
	left: 25%;
	width: 50%;
	text-align: center;
	font-family: trebuchet ms;
	font-size: 4vh;
}

body {
	background-color: #7ec0ee;
}